.footerContent {
  padding: 24px 24px;
  margin: 64px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footerContentAuth {
  padding: 24px 24px;
  margin: 64px 0 0 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 750px) {
  
  .footerContentAuth {
    margin: 0px 0 50px 0;
  }
}

