.container {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  color: #000;
  max-width: 1600px;
  margin: 0 auto;
}


.title {
  font-size: 3em;
  text-transform: uppercase;
  margin-bottom: 50px;
  color: inherit;
  animation: fadeInDown 1s ease-in-out;
}

.textBlock {
  font-size: 1.2em;
  line-height: 1.8;
  color: inherit;
  animation: fadeInLeft 1s ease-in-out;
  text-align: justify;
  max-width: 800px;
  margin: 0 auto;
}

.mosoblikArea {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  animation: fadeInRight 1s ease-in-out;
}

.companyImage {
  max-width: 100%;
  height: auto;
  max-height: 80vh;
}

.actionButton {
  margin-top: 30px;
  font-size: 1.2em;
  line-height: 1.2em;
  transition: background-color 0.3s;
}

.actionButton:hover {
  background-color: #1890ff;
  color: #fff;
}

/* Анимации */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Адаптивность */
@media (max-width: 768px) {


  .title {
    font-size: 2em;
  }

  .textBlock {
    font-size: 1em;
  }
}