.mosoblikArea {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center center;
}

.textArea {
    flex: 1;
    display: flex;
    align-items: center;
}

.textArea div div {
    line-height: 2;
    font-size: 16px;
    text-indent: 1.5em;
}

.button {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    border-width: 0;
    padding: 0 8px 12px;
    min-width: 10em;
    box-sizing: border-box;
    background: transparent;
    font: inherit;
    cursor: pointer;
  }
  
  .buttonTop {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    padding: 8px 16px;
    transform: translateY(0);
    text-align: center;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.25);
    transition-property: transform;
    transition-duration: 0.2s;
    -webkit-user-select: none;
    user-select: none;
  }
  
  .button:active .buttonTop {
    transform: translateY(6px);
  }
  
  .buttonTop::after {
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    /* Изменяем цвет градиента на синий */
    background-image: radial-gradient(#3f87f5, #215fc9);
    text-align: center;
    color: #fff;
    box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, 0.2),
      0 1px 2px 1px rgba(255, 255, 255, 0.2);
    transition-property: border-radius, padding, width, transform;
    transition-duration: 0.2s;
  }
  
  .button:active .buttonTop::after {
    border-radius: 6px;
    padding: 0 2px;
  }
  
  .buttonBottom {
    position: absolute;
    z-index: -1;
    bottom: 4px;
    left: 4px;
    border-radius: 8px / 16px 16px 8px 8px;
    padding-top: 6px;
    width: calc(100% - 8px);
    height: calc(100% - 10px);
    box-sizing: content-box;
    /* Изменяем цвет фона на более тёмно-синий */
    background-color: #1846a3;
    background-image: radial-gradient(
        4px 8px at 4px calc(100% - 8px),
        rgba(255, 255, 255, 0.25),
        transparent
      ),
      radial-gradient(
        4px 8px at calc(100% - 4px) calc(100% - 8px),
        rgba(255, 255, 255, 0.25),
        transparent
      ),
      radial-gradient(16px at -4px 0, white, transparent),
      radial-gradient(16px at calc(100% + 4px) 0, white, transparent);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5),
      inset 0 -1px 3px 3px rgba(0, 0, 0, 0.4);
    transition-property: border-radius, padding-top;
    transition-duration: 0.2s;
  }
  
  .button:active .buttonBottom {
    border-radius: 10px 10px 8px 8px / 8px;
    padding-top: 0;
  }
  
  .buttonBase {
    position: absolute;
    z-index: -2;
    top: 4px;
    left: 0;
    border-radius: 12px;
    width: 100%;
    height: calc(100% - 4px);
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.75),
      inset 0 2px 2px rgba(0, 0, 0, 0.25);
  }
  

@media (max-width:1199px) {
    .mosoblikArea {
        display: none;
    }
    .textArea div div {
        line-height: 2;
        font-size: 14px;
        text-indent: 1.5em;
    }
}