.menuItem {
  line-height: 15px;
  /* gap: 10px; */
  /* padding: 10px 0;
  height: 100%; */
  position: fixed;
  left: 0;
  top: 64px;
  bottom: 0;
}

.menuItemMobile {
  line-height: 15px;
  
  padding: 10px 0;
}

.icon {
  font-size: 1.5rem;
}


.mobile {
  display: none;
}

.desktop {
  display: block;
  /* width: 300px; */
  height: 100%;
}

.menuContainer {
  /* height: 88vh; */
  z-index: 1000;
}


@media only screen and (max-width: 750px) {
  /* .labelSizeMobile {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.88);
  } */

  @keyframes pulseShadow {
    0% {
      box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    }

    50% {
      box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    }

    100% {
      box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    }
  }

  .icon {
    font-size: 2rem;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .menuContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: inherit;
    background-color: #fff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
    animation: pulseShadow 1s infinite ease-in-out;
  }

  .menuItem {
    height: inherit;
    position: inherit;
    padding: 10px 0;
  }

  .menuItemMobile {}

}