.menuItem {
  line-height: 15px;
  /* gap: 10px; */
  padding: 10px 0;
}
.icon {
  font-size: 1.5rem;
}


.mobile {
  display: none;
}

.desktop {
  display: block;
}

@media only screen and (max-width: 575px) {
  .icon {
    font-size: 2rem;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .menuContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }


}