.dividerTitle {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  padding: 0 10px;
}

.dividerWrap {
  flex: 1;
  height: 2px;
  width: 200px;
}

@media (max-width: 800px) {
  .divider {
    width: 550px;
  }
}

@media (max-width: 550px) {
  .divider {
    width: 350px;
  }
}

@media (max-width: 450px) {
  .divider {
    width: 250px;
    font-size: 14px;
  }
}

@media (max-width: 350px) {
  .divider {
    width: 150px;
  }
}
