.exampleContainer {
    width: 100vw;
    height: 400px;
  } 
  
  .box {
    border-radius: 30px;
    width: 200px;
    height: 200px;
    position: absolute;
    top: calc(50% - 150px / 2);
    left: calc(50% - 150px / 2);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .progressIcon {
    width: 80%;
    height: 80%;
  }
  
  .refresh {
    padding: 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .switch {
    width: 160px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: flex-start;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
  }
  
  .switch[data-isOn="true"] {
    justify-content: flex-end;
  }