.content {
  padding: 0 48px;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Georgia", serif;
  transition: color 0.3s;
}

button,
.ant-btn {
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  border-radius: 5px;
}

[data-theme="dark"] body {
  background-color: #121212;
  color: #ffffff;
}

[data-theme="dark"] h1,
[data-theme="dark"] h2,
[data-theme="dark"] h3,
[data-theme="dark"] h4,
[data-theme="dark"] h5,
[data-theme="dark"] h6 {
  color: #ffffff;
}

[data-theme="dark"] button,
[data-theme="dark"] .ant-btn {
  background-color: #333333;
  color: #ffffff;
  border-color: #444444;
}

.mainContent {
  padding: 24px 24px;
  min-height: calc(100vh - 120px);
  margin: 64px 0 0 0;
}

.mainContentAuth {
  padding: 24px 24px;
  min-height: calc(100vh - 120px);
  margin: 64px 0 0 186px;
}

/* .formElement -----------------------*/
.formElement {
  /* width: calc(33.33% - 20px); */
  /* min-width: 500px; */
  padding: 10px;
  border-radius: 10px;
  height: 100%;
}
.formElement .formElement {
  /* width: calc(33.33% - 20px); */
  /* width: 100% ; */
  /* min-width: inherit; */
  padding: 10px;
  border-radius: 10px;
}
@media(max-width:1800px){
  .formElement {
    /* width: calc(50% - 10px); */
  }
}
@media(max-width:1300px){
  .formElement {
    width: 100% ;
    min-width: 300px;
  }
}
/* .formElement ---------------------------*/

@media (max-width: 1199px) {
  html {
    font-size: 14px;
  }

  .content {
    padding: 0 30px;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 12px;
  }

  .content {
    padding: 0 20px;
  }
}

@media (max-width: 750px) {
  html {
    font-size: 10px;
  }

  .content {
    padding: 0 10px;
  }

  .mainContentAuth {
    margin: 64px 0 0 0;
  }
}