/* .notificationPanel {
    max-width: 300px;
    max-height: 400px;
    overflow-y: auto;
  }
  
  .unread {
    background-color: #e6f7ff;
  }
  
  .notificationDate {
    font-size: 0.8em;
    color: #888;
  }
   */