.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 0;
  background-color: #f0f2f5; /* можно настроить фон, если нужно */
}

@media (max-width: 575px) {
  .footer {
    margin-bottom: 50px;
  }
}
